<section>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h2 mat-dialog-title>Add User</h2>
    <mat-dialog-content>
        <div>
            <mat-form-field class="mr-16">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Max" [(ngModel)]="user.firstName" [disabled]="loading">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Musterman" [(ngModel)]="user.lastName" [disabled]="loading">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="w-100">
                <mat-label>Email</mat-label>
                <input matInput placeholder="muster@mann.com" [(ngModel)]="user.email" [disabled]="loading">
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="onCancelEdit()" [disabled]="loading">Cancel</button>
        <button mat-button (click)="onSaveEditUser()" [mat-dialog-close]="user" cdkFocusInitial [disabled]="loading">Save</button>
    </mat-dialog-actions>
</section>