mat-card {
    min-height: 250px;
    background-color: #6A1B9A;
    flex-direction: row;
    align-items: flex-end;

    img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 100%;
        padding: 22px;
    }

    .user-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 80px;
        padding: 22px;

        h2 {
            margin-bottom: 0;
        }
    }
}