<section>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h2 mat-dialog-title>Add User</h2>
    <mat-dialog-content>
        <div>
            <mat-form-field class="mr-16">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Max" [(ngModel)]="user.firstName" [disabled]="loading">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Musterman" [(ngModel)]="user.lastName" [disabled]="loading">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="w-100">
                <mat-label>Birth Date</mat-label>
                <input matInput [matDatepicker]="picker1" placeholder="5/31/2000" [(ngModel)]="birthDate"
                    [disabled]="loading">
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="w-100">
                <mat-label>Street, Nr.</mat-label>
                <input matInput placeholder="Rathausstraße 0" [(ngModel)]="user.addresse" [disabled]="loading">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="mr-16">
                <mat-label>Zip Code</mat-label>
                <input matInput placeholder="10115" [(ngModel)]="user.zip" [disabled]="loading">
            </mat-form-field>
            <mat-form-field>
                <mat-label>City</mat-label>
                <input matInput placeholder="Berlin" [(ngModel)]="user.city" [disabled]="loading">
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="onCancel()" [disabled]="loading">Cancel</button>
        <button mat-button (click)="onSaveUser()" cdkFocusInitial [disabled]="loading">Save</button>
    </mat-dialog-actions>
</section>