@import '../../styles.scss';

section {

    tr {
        cursor: pointer;

        &:hover {
            background-color: $hover;
        }
    }

    .mat-mdc-header-row {

        &:hover {
            cursor: unset;
            background-color: unset;
        }
    }

    button {
        position: absolute;
        bottom: 36px;
        right: 26px;
    }
}