$green: #004f4f;
$lightGreen: #00dddd;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mr-16 {
    margin-right: 16px;
}

.w-100 {
    width: 100%;
}