$green: #004f4f;
$lightGreen: #00dddd;
$hover: #303030;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mr-16 {
    margin-right: 16px;
}

.w-100 {
    width: 100%;
}

.pin-top-right {    
    position: absolute !important;
    top: 0;
    right: 0;
}